In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
#Import required libraries
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler

In [2]:
path = "C:/Users/USER/Google Drive/04. Lain-lain/hackathon/BPJS/Training/Fraud Detection/fraud_detection_train.csv"
df = pd.read_csv(path)

In [3]:
df.head()

,visit_id,kdkc,dati2,typeppk,jkpst,umur,jnspelsep,los,cmg,severitylevel,...,proc63_67,proc68_70,proc71_73,proc74_75,proc76_77,proc78_79,proc80_99,proce00_e99,procv00_v89,label
0,1,1107,150,SB,P,64,2,0,F,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1303,200,C,L,45,1,9,E,3,...,0,0,0,0,0,0,4,0,0,1
2,3,1114,172,B,P,34,2,0,Q,0,...,0,0,0,0,0,0,0,0,0,1
3,4,601,90,SC,L,34,2,0,Q,0,...,0,0,0,0,0,0,0,0,0,1
4,5,1006,130,B,L,27,2,0,F,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
data = df.copy()
data_identity = data[['visit_id','label']]
data = data[['los','severitylevel','jnspelsep','jkpst','proc80_99','cmg','typeppk','umur','diagprimer','kdkc','dati2']]
data

,los,severitylevel,jnspelsep,jkpst,proc80_99,cmg,typeppk,umur,diagprimer,kdkc,dati2
0,0,0,2,P,0,F,SB,64,f00_f99,1107,150
1,9,3,1,L,4,E,C,45,e00_e90,1303,200
2,0,0,2,P,0,Q,B,34,r00_r99,1114,172
3,0,0,2,L,0,Q,SC,34,r00_r99,601,90
4,0,0,2,L,0,F,B,27,f00_f99,1006,130
...,...,...,...,...,...,...,...,...,...,...,...
200212,0,0,2,P,1,Z,B,48,l00_l99,2102,353
200213,0,0,2,L,0,Q,SD,1,q00_q99,1308,212
200214,0,0,2,P,0,Q,SB,3,r00_r99,201,38
200215,1,1,1,P,1,J,B,52,j00_j99,1008,128
200216,1,1,1,L,0,K,SC,4,a00_b99,1016,117

In [5]:
data_numeric = data.select_dtypes(include=['number']).copy()

scaler = StandardScaler()
smodel = scaler.fit(data_numeric)
df2_num_scale = pd.DataFrame(smodel.transform(data_numeric))
df2_num_scale.columns = data_numeric.columns
df2_num_scale

,los,severitylevel,jnspelsep,proc80_99,umur,kdkc,dati2
0,-0.231102,-0.612228,0.702162,-0.650764,1.175509,-0.070268,-0.324485
1,1.364717,3.524418,-1.424173,2.422279,0.352851,0.270907,0.141819
2,-0.231102,-0.612228,0.702162,-0.650764,-0.123425,-0.058083,-0.119311
3,-0.231102,-0.612228,0.702162,-0.650764,-0.123425,-0.951057,-0.884048
4,-0.231102,-0.612228,0.702162,-0.650764,-0.426509,-0.246078,-0.511006
...,...,...,...,...,...,...,...
200212,-0.231102,-0.612228,0.702162,0.117497,0.482744,1.661719,1.568706
200213,-0.231102,-0.612228,0.702162,-0.650764,-1.552252,0.279611,0.253731
200214,-0.231102,-0.612228,0.702162,-0.650764,-1.465656,-1.647333,-1.369003
200215,-0.053789,0.766654,-1.424173,0.117497,0.655935,-0.242596,-0.529658
200216,-0.053789,0.766654,-1.424173,-0.650764,-1.422358,-0.228671,-0.632245

In [7]:
data_char = data.select_dtypes(include=['object']).copy()
ohe = OneHotEncoder(handle_unknown='ignore')
ohe_model = ohe.fit(data_char)

data_char.columns
ohe.get_feature_names(data_char.columns)
data_char.head()

res_OHE = ohe.transform(data_char).toarray()
df2_cat_encode = pd.DataFrame(res_OHE)
df2_cat_encode.columns = ohe.get_feature_names(data_char.columns)
df2_cat_encode.head()

,jkpst_L,jkpst_P,cmg_A,cmg_B,cmg_C,cmg_D,cmg_E,cmg_F,cmg_G,cmg_H,...,diagprimer_l00_l99,diagprimer_m00_m99,diagprimer_n00_n99,diagprimer_o00_o99,diagprimer_p00_p96,diagprimer_q00_q99,diagprimer_r00_r99,diagprimer_s00_t98,diagprimer_u00_u85,diagprimer_z00_z99
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
X_train = df2_num_scale.merge(df2_cat_encode, how = 'left', left_index=True, right_index=True)
X_train = X_train.merge(data_identity, how = 'left', left_index=True, right_index=True )
X_train.head()

,los,severitylevel,jnspelsep,proc80_99,umur,kdkc,dati2,jkpst_L,jkpst_P,cmg_A,...,diagprimer_n00_n99,diagprimer_o00_o99,diagprimer_p00_p96,diagprimer_q00_q99,diagprimer_r00_r99,diagprimer_s00_t98,diagprimer_u00_u85,diagprimer_z00_z99,visit_id,label
0,-0.231102,-0.612228,0.702162,-0.650764,1.175509,-0.070268,-0.324485,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,1.364717,3.524418,-1.424173,2.422279,0.352851,0.270907,0.141819,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1
2,-0.231102,-0.612228,0.702162,-0.650764,-0.123425,-0.058083,-0.119311,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3,1
3,-0.231102,-0.612228,0.702162,-0.650764,-0.123425,-0.951057,-0.884048,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4,1
4,-0.231102,-0.612228,0.702162,-0.650764,-0.426509,-0.246078,-0.511006,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1

In [9]:
X_train1 = X_train.drop('label', axis=1)
list(X_train1.columns.values)

['los',
 'severitylevel',
 'jnspelsep',
 'proc80_99',
 'umur',
 'kdkc',
 'dati2',
 'jkpst_L',
 'jkpst_P',
 'cmg_A',
 'cmg_B',
 'cmg_C',
 'cmg_D',
 'cmg_E',
 'cmg_F',
 'cmg_G',
 'cmg_H',
 'cmg_I',
 'cmg_J',
 'cmg_K',
 'cmg_L',
 'cmg_M',
 'cmg_N',
 'cmg_O',
 'cmg_P',
 'cmg_Q',
 'cmg_S',
 'cmg_T',
 'cmg_U',
 'cmg_V',
 'cmg_W',
 'cmg_Z',
 'typeppk_A ',
 'typeppk_B ',
 'typeppk_C ',
 'typeppk_D ',
 'typeppk_GD',
 'typeppk_HD',
 'typeppk_I1',
 'typeppk_I2',
 'typeppk_I3',
 'typeppk_I4',
 'typeppk_KB',
 'typeppk_KC',
 'typeppk_KG',
 'typeppk_KI',
 'typeppk_KJ',
 'typeppk_KL',
 'typeppk_KM',
 'typeppk_KO',
 'typeppk_KP',
 'typeppk_KT',
 'typeppk_KU',
 'typeppk_SA',
 'typeppk_SB',
 'typeppk_SC',
 'typeppk_SD',
 'diagprimer_a00_b99',
 'diagprimer_c00_d48',
 'diagprimer_d50_d89',
 'diagprimer_e00_e90',
 'diagprimer_f00_f99',
 'diagprimer_g00_g99',
 'diagprimer_h00_h59',
 'diagprimer_h60_h95',
 'diagprimer_i00_i99',
 'diagprimer_j00_j99',
 'diagprimer_k00_k93',
 'diagprimer_l00_l99',
 'diagprimer_m00_m99',
 'diagprimer_n00_n99',
 'diagprimer_o00_o99',
 'diagprimer_p00_p96',
 'diagprimer_q00_q99',
 'diagprimer_r00_r99',
 'diagprimer_s00_t98',
 'diagprimer_u00_u85',
 'diagprimer_z00_z99',
 'visit_id']

In [10]:
X_train1.shape

(200217, 79)

In [11]:
y_train  = X_train[['label']]
y_train.shape

(200217, 1)

In [12]:
y_train.value_counts()

label
1        100255
0         99962
dtype: int64

In [14]:
path_validation = "C:/Users/USER/Google Drive/04. Lain-lain/hackathon/BPJS/Training/Fraud Detection/Fraud Detection tahap 2/fraud_detection_val.csv"
X_test = pd.read_csv(path_validation)
X_test.head()

,visit_id,kdkc,dati2,typeppk,jkpst,umur,jnspelsep,los,cmg,severitylevel,...,proc58_62,proc63_67,proc68_70,proc71_73,proc74_75,proc76_77,proc78_79,proc80_99,proce00_e99,procv00_v89
0,1,102,1,SD,P,40,2,0,Q,0,...,0,0,0,0,0,0,0,0,0,0
1,2,102,1,SD,L,12,2,0,Q,0,...,0,0,0,0,0,0,0,0,0,0
2,3,102,1,SD,L,50,2,0,K,0,...,0,0,0,0,0,0,0,0,0,0
3,4,102,1,SD,P,41,2,0,K,0,...,0,0,0,0,0,0,0,0,0,0
4,5,102,1,SD,P,67,1,3,I,1,...,0,0,0,0,0,0,0,1,0,0

In [15]:
X_test.shape

(49762, 52)

In [16]:
var_list = list(X_test.columns)
data_test = X_test.copy()
unique_value_all = {} # checking variance of features
for var in var_list:
    b = pd.DataFrame(X_test[var].value_counts()) 
    b.columns=[u'count']
    b['percentage']=b['count']/len(data_test)
    b.sort_values(by=['percentage'],ascending=False)
    unique_value_all[var] =b.iat[0,1]#take unique value with the most apperence
unique_value_data = pd.DataFrame({'Max_Unique_Ratio' :unique_value_all})

In [17]:
unique_value_data.sort_values('Max_Unique_Ratio')

               Max_Unique_Ratio
visit_id               0.000020
dati2                  0.035348
kdkc                   0.035348
umur                   0.059061
typeppk                0.260701
diagprimer             0.353121
cmg                    0.484506
proc80_99              0.528757
jkpst                  0.554499
severitylevel          0.763313
jnspelsep              0.763313
los                    0.769664
dx2_i00_i99            0.916884
dx2_m00_m99            0.939592
dx2_e00_e90            0.942808
dx2_z00_z99            0.953659
dx2_n00_n99            0.958884
dx2_c00_d48            0.961155
dx2_h00_h59            0.965435
dx2_o00_o99            0.966902
dx2_j00_j99            0.968249
dx2_a00_b99            0.969213
dx2_r00_r99            0.971625
dx2_g00_g99            0.977131
proc14_23              0.978799
proc39_45              0.981472
dx2_d50_d89            0.981592
dx2_f00_f99            0.983763
proc74_75              0.985169
proc00_13              0.986315
dx2_p00_p96            0.987541
proce00_e99            0.987963
dx2_s00_t98            0.988686
proc52_57              0.988746
proc71_73              0.990414
dx2_l00_l99            0.991600
dx2_h60_h95            0.992384
proc68_70              0.993971
proc_32_38             0.994594
dx2_q00_q99            0.994614
dx2_v01_y98            0.995820
proc78_79              0.996101
proc46_51              0.996443
proc58_62              0.997046
proc24_27              0.997066
proc63_67              0.997187
proc29_31              0.998774
proc76_77              0.998955
proc28_28              0.999457
procv00_v89            1.000000
dx2_koo_k93            1.000000
dx2_u00_u99            1.000000

In [18]:
data_na  = pd.isna(data_test).sum()/len(data_test)
missing_data_test = pd.DataFrame({'Missing_Ratio' :data_na})#checking missing data
missing_data_test

               Missing_Ratio
visit_id                 0.0
kdkc                     0.0
dati2                    0.0
typeppk                  0.0
jkpst                    0.0
umur                     0.0
jnspelsep                0.0
los                      0.0
cmg                      0.0
severitylevel            0.0
diagprimer               0.0
dx2_a00_b99              0.0
dx2_c00_d48              0.0
dx2_d50_d89              0.0
dx2_e00_e90              0.0
dx2_f00_f99              0.0
dx2_g00_g99              0.0
dx2_h00_h59              0.0
dx2_h60_h95              0.0
dx2_i00_i99              0.0
dx2_j00_j99              0.0
dx2_koo_k93              0.0
dx2_l00_l99              0.0
dx2_m00_m99              0.0
dx2_n00_n99              0.0
dx2_o00_o99              0.0
dx2_p00_p96              0.0
dx2_q00_q99              0.0
dx2_r00_r99              0.0
dx2_s00_t98              0.0
dx2_u00_u99              0.0
dx2_v01_y98              0.0
dx2_z00_z99              0.0
proc00_13                0.0
proc14_23                0.0
proc24_27                0.0
proc28_28                0.0
proc29_31                0.0
proc_32_38               0.0
proc39_45                0.0
proc46_51                0.0
proc52_57                0.0
proc58_62                0.0
proc63_67                0.0
proc68_70                0.0
proc71_73                0.0
proc74_75                0.0
proc76_77                0.0
proc78_79                0.0
proc80_99                0.0
proce00_e99              0.0
procv00_v89              0.0

In [19]:
# select potential feature based on unique ratio of feature
data_test_features = data_test[['los','severitylevel','jnspelsep','jkpst','proc80_99','cmg','typeppk','umur','diagprimer','kdkc','dati2']]
data_identity_test = data_test[['visit_id']]
# Split the data into numerical and characteristic
data_test_features.head()
data_numeric = data_test_features.select_dtypes(include=['number']).copy()

scaler = StandardScaler()
smodel = scaler.fit(data_numeric)
df2_num_scale = pd.DataFrame(smodel.transform(data_numeric))
#df2_num_scale = pd.DataFrame(data_numeric)
df2_num_scale.columns = data_numeric.columns

In [20]:
df2_num_scale.head()

        los  severitylevel  jnspelsep  proc80_99      umur      kdkc     dati2
0 -0.226042      -0.496073   0.556846  -0.659379 -0.014798 -1.895609 -1.768196
1 -0.226042      -0.496073   0.556846  -0.659379 -1.263960 -1.895609 -1.768196
2 -0.226042      -0.496073   0.556846  -0.659379  0.431331 -1.895609 -1.768196
3 -0.226042      -0.496073   0.556846  -0.659379  0.029815 -1.895609 -1.768196
4  0.478680       1.104185  -1.795827   0.157653  1.189751 -1.895609 -1.768196

In [21]:
data_char = data_test_features.select_dtypes(include=['object']).copy()
ohe = OneHotEncoder(handle_unknown='ignore')
ohe_model = ohe.fit(data_char)

ohe.get_feature_names(data_char.columns)

res_OHE = ohe.transform(data_char).toarray()

df2_cat_encode = pd.DataFrame(res_OHE)
df2_cat_encode.columns = ohe.get_feature_names(data_char.columns)
df2_cat_encode.head()

,jkpst_L,jkpst_P,cmg_A,cmg_B,cmg_C,cmg_D,cmg_E,cmg_F,cmg_G,cmg_H,...,diagprimer_k00_k93,diagprimer_l00_l99,diagprimer_m00_m99,diagprimer_n00_n99,diagprimer_o00_o99,diagprimer_p00_p96,diagprimer_q00_q99,diagprimer_r00_r99,diagprimer_s00_t98,diagprimer_z00_z99
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
X_test = df2_num_scale.merge(df2_cat_encode, how = 'left', left_index=True, right_index=True)
X_test = X_test.merge(data_identity_test, how = 'left', left_index=True, right_index=True)
X_test.shape

(49762, 78)

In [23]:
X_train.shape

(200217, 80)

In [24]:
list(X_train.columns.values)

['los',
 'severitylevel',
 'jnspelsep',
 'proc80_99',
 'umur',
 'kdkc',
 'dati2',
 'jkpst_L',
 'jkpst_P',
 'cmg_A',
 'cmg_B',
 'cmg_C',
 'cmg_D',
 'cmg_E',
 'cmg_F',
 'cmg_G',
 'cmg_H',
 'cmg_I',
 'cmg_J',
 'cmg_K',
 'cmg_L',
 'cmg_M',
 'cmg_N',
 'cmg_O',
 'cmg_P',
 'cmg_Q',
 'cmg_S',
 'cmg_T',
 'cmg_U',
 'cmg_V',
 'cmg_W',
 'cmg_Z',
 'typeppk_A ',
 'typeppk_B ',
 'typeppk_C ',
 'typeppk_D ',
 'typeppk_GD',
 'typeppk_HD',
 'typeppk_I1',
 'typeppk_I2',
 'typeppk_I3',
 'typeppk_I4',
 'typeppk_KB',
 'typeppk_KC',
 'typeppk_KG',
 'typeppk_KI',
 'typeppk_KJ',
 'typeppk_KL',
 'typeppk_KM',
 'typeppk_KO',
 'typeppk_KP',
 'typeppk_KT',
 'typeppk_KU',
 'typeppk_SA',
 'typeppk_SB',
 'typeppk_SC',
 'typeppk_SD',
 'diagprimer_a00_b99',
 'diagprimer_c00_d48',
 'diagprimer_d50_d89',
 'diagprimer_e00_e90',
 'diagprimer_f00_f99',
 'diagprimer_g00_g99',
 'diagprimer_h00_h59',
 'diagprimer_h60_h95',
 'diagprimer_i00_i99',
 'diagprimer_j00_j99',
 'diagprimer_k00_k93',
 'diagprimer_l00_l99',
 'diagprimer_m00_m99',
 'diagprimer_n00_n99',
 'diagprimer_o00_o99',
 'diagprimer_p00_p96',
 'diagprimer_q00_q99',
 'diagprimer_r00_r99',
 'diagprimer_s00_t98',
 'diagprimer_u00_u85',
 'diagprimer_z00_z99',
 'visit_id',
 'label']

In [25]:
X_train = X_train.drop('label', axis=1)

In [26]:
X_train.shape

(200217, 79)

In [27]:
X_test['diagprimer_u00_u85'] = 0

In [28]:
X_test.shape

(49762, 79)

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import roc_curve, auc, accuracy_score

In [30]:
model_dt = DecisionTreeClassifier()
model_dt.fit(X_train, y_train)
X_train.shape

#Make predictions
predictions_dt = model_dt.predict_proba(X_test)
pp2 = pd.DataFrame(predictions_dt[:,1])
for i in range(49762):
 if pp2[0][i] > 0.5:
    pp2[0][i] = 1
 else:
    pp2[0][i] = 0
pp2.columns = ['predict_label']

In [31]:
pp2.value_counts()

predict_label
1.0              49762
dtype: int64

In [32]:
result = data_identity_test.merge(pp2, how = 'left', left_index=True, right_index=True)

In [33]:
result.head()

   visit_id  predict_label
0         1            1.0
1         2            1.0
2         3            1.0
3         4            1.0
4         5            1.0

In [72]:
#result.to_csv("hasil tahap 2.csv", index=False)